section {
    display: flex;
    justify-content: center;
}

.showcase-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2rem;
}

.subtitle {
    text-align: center;
}

.field-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.row {
    display: flex;
    gap: 16px;
}

.submit-button {
    margin-top: 1.5rem;
    padding: 1rem 3.1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 999px;
    color: white;
    background: linear-gradient(90deg, #ff2d55, #8e2de2);
    cursor: pointer;
}