section {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    background-color: #000;
    border-bottom: solid 1px #aaaaaa36 ;
}

.showcase-form {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2rem 1rem;
    color: #fff;
    max-width: 960px;
    text-align: center;
}

.title {
    margin-bottom: 0.9rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.showcase-form p {
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #ccc;
}

.field-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.row {
    display: flex;
    gap: 1.25rem;
    max-width: 800px;
    justify-content: center;
}

input {
    height: 56px;
    min-width: 384px;
    flex: 1 1 600px;
    padding: 1rem;
    border-radius: 12px;
    background-color: #1e1e20;
    border: none;
    color: #fff;
    font-size: 0.9rem;
}

input::placeholder {
  color: #aaa;
}

.submit-button {
    margin-top: 1.5rem;
    padding: 1rem 3.1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 999px;
    color: white;
    background: linear-gradient(90deg, #C22026, #C400CB);
    cursor: pointer;
}