section {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.showcase-form {
    font-family: sans-serif;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #fff;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.field-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.row {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    justify-content: center;
}

input {
  flex: 1 1 300px;
  padding: 1rem;
  border-radius: 12px;
  background-color: #1e1e20;
  border: none;
  color: #fff;
  font-size: 0.9rem;
}

input::placeholder {
  color: #aaa;
}

.submit-button {
    margin-top: 1.5rem;
    padding: 1rem 3.1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 999px;
    color: white;
    background: linear-gradient(90deg, #ff2d55, #8e2de2);
    cursor: pointer;
}