* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  height: 100dvh;
  overflow-y: auto;
  max-width: 1440px;
  margin: 0 auto; 
}

.componentContainer {
  max-width: 1200px;
  margin: 0 auto;
}